$menu-content-elevation: 1 !default;
$heading-font-family:'Roboto', sans-serif;
// $body-font-family: 'Open Sans', sans-serif;
$expansion-panel-header-padding: 0 16px !default;
$expansion-panel-content-padding: 0 0 16px 24px !default;
$expansion-panel-active-header-min-height: 48px;
$btn-focus-opacity: 0 !default;